/* #region General Styles */
body {
    font-family: "Montserrat", sans-serif;
    color: #111;
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.container {
    width: 1168px;
    margin: 0 auto;
    padding: 0 16px;
}
.section {
    padding: 60px 0;
}
/* #endregion General Styles */

/* #region HEADER */


.header-cont {
    display: flex;
    align-items: center;

}
.page-nav {
    display: flex;

}
.logo-simply {
color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;
    display: inline-flex;

}

.logo {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.nav-list {
    display: flex;
    gap: 24px;
    margin-left: 365px;
}
.nav-item a {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
    padding: 32px 0;
    display: block;
}

.nav-item a:hover {
    color: #FD9222;
}
.nav-item a:focus {
    color: #FD9222;
}

.social-list {
    display: flex;
    gap: 14px;
    margin-left: 90px;
}

/* #endregion HEADER */


/* #region MAIN PAGE */
.main-page {
    padding-bottom: 80px;
}
.main-page .container {
    width: 1136px;
    height: 600px;
    padding: 381px 40px 40px 40px;
    margin: 0 auto;
    background-color:rgba(17, 17, 17, 0.70);
    border-radius: 30px;
}
.main-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    width: 484px;
    height: 102px;
    margin-bottom: 32px;
}
.buttons {
    display: flex;
    margin-right: auto;
}

.buy-button {
color: #FFF;
padding: 14px 40px;
border-radius: 100px;
background:  #FD9222;
border: none;
min-width: 144px;
cursor: pointer;

}
.how-button {
    color: #FFF;
    min-width: 183px;
    padding: 14px 40px; 
    border-radius: 100px;
    border: 1px solid #FFF;
background: none;
margin-left: 14px;
cursor: pointer;
}
.btn-wrapper {
    display:flex;
}
.scroll-down {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}
/* #endregion MAIN PAGE */

/* #region Benefits */
.benefits-section {
    padding: 50px 0;
    background: #1E1823;
}

.benefits-list {
    display: flex;
    justify-content: center;
    gap: 88px;
}

.benefit-title {
    color:  #FFF;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 18px;
}

.benefit-description {
    color: rgba(255, 255, 255, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        max-width: 308px;
        height: auto;
}
/* #endregion Benefits */

/* #region Taste Section  */

.taste-section {
    padding-top: 120px;
    padding-bottom: 60px;
}

.section-title {

        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.72px;
        text-transform: uppercase;
        max-width: 412px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 50px;
}

.feature {
    color: #FD9222;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.72px;
        text-transform: uppercase;
}
.taste-list {
    display: flex;
    flex-wrap: wrap;
            gap: 32px;
      
            background-color: #FFF;
}
.taste-item {
        width: calc((100% - 96px) / 4);
        height: 270px;
        padding: 28px 23px 82px 23px;
        border-radius: 15px;
        background: #FD9222;
        color: #FFF;
}

.taste-item:nth-child(2n + 2) {
    background: transparent;
    border: 1px solid #FD9222;
    color: #111;
}

.taste-item:nth-child(4n + 3) {
    background: #1E1823;
    color: #FFF;
}


.product-n {
    margin-top: 36px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.28px;
        text-transform: uppercase;
}


/* #endregion Taste Section  */

/* #region How it's made Section */


.instruction-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
width: 350px;
height: auto;
margin: 28px; 
}

.instruction-list {
  list-style-type: disc;
  width: 452px;
  height: 260px;
  
  
}

.instruction-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;

}



/* #endregion How it's made Section */

/* #region Product Section */

/* #endregion Product Section */

/* #region Top Sellers */
/* #endregion Top Sellers */

/* #region Review */
/* #endregion Review */
.review-section {
    padding-bottom: 120px;
}

/* #region FOOTER */
/* #endregion FOOTER */