/* #region General Styles */
body {
    font-family: "Montserrat", sans-serif;
    color: #111;
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.container {
    width: 1168px;
    margin: 0 auto;
    padding: 0 16px;
}
/* #endregion General Styles */

/* #region HEADER */


.header-cont {
    display: flex;
    align-items: center;

}
.page-nav {
    display: flex;

}
.logo-simply {
color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;
    display: inline-flex;

}

.logo {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.nav-list {
    display: flex;
    gap: 24px;
    margin-left: 365px;
}
.nav-item a {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
    padding: 32px 0;
    display: block;
}

.nav-item a:hover {
    color: #FD9222;
}
.nav-item a:focus {
    color: #FD9222;
}

.social-list {
    display: flex;
    gap: 14px;
    margin-left: 90px;
}

/* #endregion HEADER */


/* #region MAIN PAGE */

.main-page .container {
    width: 1136px;
    height: 600px;
    padding: 381px 40px 40px 40px;
    margin: 0 auto;
    background-color:rgba(17, 17, 17, 0.70);
    border-radius: 30px;
}
.main-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    width: 484px;
    height: 102px;
    margin-bottom: 32px;
}
.buttons {
    display: flex;
    margin-right: auto;
}

.buy-button {
color: #FFF;
padding: 14px 40px;
border-radius: 100px;
background:  #FD9222;
border: none;
min-width: 144px;
cursor: pointer;

}
.how-button {
    color: #FFF;
    min-width: 183px;
    padding: 14px 40px; 
    border-radius: 100px;
    border: 1px solid #FFF;
background: none;
margin-left: 14px;
cursor: pointer;
}
.btn-wrapper {
    display:flex;
}
.scroll-down {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}
.benefits-section {
    background: #1E1823;
}
.benefit-title {
    color:  #FFF;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
}

.benefit-description {
    color: rgba(255, 255, 255, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
}
/* #endregion MAIN PAGE */

/* #region Taste Section  */

.taste-section {
    background-color: #FFFFFF;
}

.section-title {

        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.72px;
        text-transform: uppercase;
}

.feature {
    color: #FD9222;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.72px;
        text-transform: uppercase;
}
.product-w {
    color: #FFF;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.28px;
        text-transform: uppercase;
}

.product-b {
    color: #111;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.28px;
}
/* #endregion Taste Section  */

/* #region How it's made Section */
.process-section {

}



.instruction-title {

        font-size: 18px;
        font-weight: 600;
        line-height: 24px;

}

.instruction-list {
  list-style-type: disc;

}

.instruction-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}
/* #endregion How it's made Section */

/* #region Product Section */

/* #endregion Product Section */

/* #region Top Sellers */
/* #endregion Top Sellers */

/* #region Review */
/* #endregion Review */


/* #region FOOTER */
/* #endregion FOOTER */